/* .top{
  background-color: brown;
  text-align: center;
  color: rgb(222, 230, 230);
  padding: 2px;

}
.navi{
  
  color:wheat;
  margin: 20px;
text-size-adjust: 30px;
}
.navi:hover{
  color: blueviolet;
}
.mainnav{
  background-color: blue;
  text-align: center;
  margin-top: 20px;
  height: 30px;
  
}
.header{
text-align: center;
background-color: brown;
shape-outside: -moz-radial-gradient(rgb);
padding: 20px;
} */
 